<!-- cols doesn't work here -->
<section class="row education">
  <div class="col">
    <h1>Education</h1>
    <ul>
      <li *ngFor="let educationItem of educationList | jsonIteration">{{educationItem}}</li>
    </ul>
  </div>
  <div class="col">
    <h1>Education</h1>
    <ul>
      <li *ngFor="let educationItem of educationList | jsonIteration">{{educationItem}}</li>
    </ul>
  </div>
  <div class="col">
    <h1>Education</h1>
    <ul>
      <li *ngFor="let educationItem of educationList | jsonIteration">{{educationItem}}</li>
    </ul>
  </div>
</section>
